apiVersion: karpenter.azure.com/v1alpha2
kind: AKSNodeClass
metadata:
  name: default
  annotations:
    kubernetes.io/description: "General purpose AKSNodeClass for running Ubuntu2204\
      \ nodes"
spec:
  imageFamily: Ubuntu2204
---
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: default
  annotations:
    kubernetes.io/description: "General purpose On-Demand NodePool"
spec:
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 1m
    budgets:
      - nodes: "100%"
  template:
    spec:
      nodeClassRef:
        group: karpenter.azure.com
        kind: AKSNodeClass
        name: default
      expireAfter: Never
      requirements:
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]
        - key: karpenter.azure.com/sku-name
          operator: In
          values:
            - "Standard_D96ds_v5"
            - "Standard_D96d_v5"
        - key: topology.kubernetes.io/zone
          operator: In
          values:
            - eastus2-1
            - eastus2-2
            - eastus2-3
---
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: spot
  annotations:
    kubernetes.io/description: "Spot NodePool for burstable cost-efficient workloads"
spec:
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 1s
    budgets:
      - nodes: "100%"
  template:
    spec:
      nodeClassRef:
        group: karpenter.azure.com
        kind: AKSNodeClass
        name: default
      expireAfter: Never
      requirements:
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["spot"]
        - key: karpenter.azure.com/sku-name
          operator: In
          values: [Standard_D16s_v5]
---
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: system-surge
  annotations:
    kubernetes.io/description: "Surge capacity pool for system pod pressure"
spec:
  disruption:
    budgets:
      - nodes: "1"
    consolidateAfter: 1m
    consolidationPolicy: WhenEmpty
  template:
    metadata:
      labels:
        kubernetes.azure.com/ebpf-dataplane: "cilium"
        kubernetes.azure.com/mode: "system"
    spec:
      expireAfter: Never
      nodeClassRef:
        group: karpenter.azure.com
        kind: AKSNodeClass
        name: default
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
        - key: kubernetes.io/os
          operator: In
          values: ["linux"]
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]
        - key: karpenter.azure.com/sku-name
          operator: In
          values:
            - Standard_D16s_v5
        - key: topology.kubernetes.io/zone
          operator: In
          values:
            - eastus2-1
            - eastus2-2
            - eastus2-3
      taints:
        - effect: NoSchedule
          key: CriticalAddonsOnly
          value: "true"
# TODO: enable cilium when it is fixed
