name: scale-test

# generic config
{{$groupName := DefaultParam .CL2_GROUP_NAME "scale-test"}}
{{$apiServerCallsPerSecond := DefaultParam .CL2_API_SERVER_CALLS_PER_SECOND 5}}

# topology config
{{$namespaces := DefaultParam .CL2_NAMESPACES 1}}
{{$deploymentsPerNamespace := DefaultParam .CL2_DEPLOYMENTS_PER_NAMESPACE 10}}
{{$replicasPerNamespace := DefaultParam .CL2_REPLICAS_PER_NAMESPACE 5}}

# topology config
{{$fortioServerReplicas := DefaultParam .CL2_FORTIO_SERVERS_PER_DEPLOYMENT 10}}
{{$fortioClientReplicas := DefaultParam .CL2_FORTIO_CLIENTS_PER_DEPLOYMENT 10}}
{{$fortioClientQueriesPerSecond := DefaultParam .CL2_FORTIO_CLIENT_QUERIES_PER_SECOND 1000}}
{{$fortioClientConnections := DefaultParam .CL2_FORTIO_CLIENT_CONNECTIONS 10}}
{{$fortioNamespaces := DefaultParam .CL2_FORTIO_NAMESPACES 1}}
{{$fortioDeploymentsPerNamespace := DefaultParam .CL2_FORTIO_DEPLOYMENTS_PER_NAMESPACE 1}}

# Container Network Log config
{{$createContainerNetworkLogs := DefaultParam .CL2_GENERATE_CONTAINER_NETWORK_LOGS false}}


namespace:
  number: {{$namespaces}}
  prefix: scale-test
  deleteStaleNamespaces: true
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: false
  deleteNamespaceTimeout: 20m

tuningSets:
  - name: Sequence
    parallelismLimitedLoad:
      parallelismLimit: 1
  - name: DeploymentCreateQps
    qpsLoad:
      qps: {{$apiServerCallsPerSecond}}

steps:
  - name: Log 
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        action: start
        duration: 1ms

  - module:
      path: /modules/node-exporter.yaml
      params:
        actionName: "create"
        tuningSet: DeploymentCreateQps

  - module:
      path: /modules/ama-logs.yaml
      params:
        actionName: "create"
        tuningSet: DeploymentCreateQps

  - module:
      path: /modules/hubble.yaml
      params:
        actionName: "create"
        tuningSet: DeploymentCreateQps

  - module:
      path: /modules/scale-test.yaml
      params:
        action: start
        group: {{$groupName}}
        createContainerNetworkLogs: {{$createContainerNetworkLogs}}

  - module:
      path: /modules/hubble.yaml
      params:
        actionName: "delete"
        tuningSet: DeploymentCreateQps

  - module:
      path: /modules/ama-logs.yaml
      params:
        actionName: "delete"
        tuningSet: DeploymentCreateQps

  # TODO: Remove this module once there's a way to deploy node exporter that works in perf-tests repository
  - module:
      path: /modules/node-exporter.yaml
      params:
        actionName: "delete"
        tuningSet: DeploymentCreateQps
