parameters:
- name: region
  type: string
- name: role
  type: string
- name: alias
  type: string
  default: ""

steps:
- script: |
    set -euo pipefail
    set -x

    aks_rg=$RUN_ID

    aks_name=$(az resource list -g $aks_rg --resource-type Microsoft.ContainerService/managedClusters \
      --query "[?(tags.role == '$ROLE')].name" --output tsv)

    if [ -z "$aks_name" ]; then
        echo "##vso[task.logissue type=error;] No AKS instance with role $ROLE found in resource group $aks_rg."
        exit 1
    fi

    az aks get-credentials -n $aks_name -g $aks_rg ${ALIAS:+--context $ALIAS}
  env:
    ROLE: ${{ parameters.role }}
    ALIAS: ${{ parameters.alias }}
  displayName: "Update kubeconfig"
