###
Repository Bloat Risks
###
*.exe
*.dll
*.lib
*.pdb
*.wim
*.zip
*.gz
bin/
debug/

# *.pfx
*.[Pp][Ff][Xx]

# *.key
*.[Kk][Ee][Yy]

# *.sst
*.[Ss][Ss][Tt]

# *.p12
*.[Pp]12

# *.pvk
*.[Pp][Vv][Kk]

/images/*/shared/*
*.pem
*.pub
# local dev files
.vscode/*
**/.vscode
*.un~
*.log
go.work
go.work.sum
*.code-workspace
# Provide developers with a local directory to store their own scripts
/dev/

# dep
vendor.orig

# terraform
terraform.*
.terraform*
darwin-amd64/
linux-amd64/

# python
__pycache__/
/.vs
*.pyc
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
env/
venv/
modules/python/clusterloader2/*/results
modules/python/clusterloader2/*/config/overrides.yaml
scenarios/**/results
scenarios/**/cl2-config

#Jupyter
*-checkpoint.ipynb
.ipynb_checkpoints

# OSX
.DS_Store
