{{$deploymentTemplatePath := DefaultParam .CL2_DEPLOYMENT_TEMPLATE_PATH "deployment_template.yaml"}}
{{$deploymentSize := DefaultParam .CL2_DEPLOYMENT_SIZE 100}}
{{$deploymentCpu := DefaultParam .CL2_DEPLOYMENT_CPU "346m"}}
{{$nodeLabelSelector := DefaultParam .CL2_NODE_LABEL_SELECTOR "karpenter.sh/nodepool = default"}}
{{$nodeSelector := DefaultParam .CL2_NODE_SELECTOR  "{karpenter.sh/nodepool: default}"}}
{{$minNodeCount := DefaultParam .CL2_MIN_NODE_COUNT 10}}
{{$maxNodeCount := DefaultParam .CL2_MAX_NODE_COUNT 20}}
{{$desiredNodeCount := DefaultParam .CL2_DESIRED_NODE_COUNT 1}}
{{$50PercentileNodeCount := MultiplyInt $minNodeCount 0.50}}
{{$70PercentileNodeCount := MultiplyInt $minNodeCount 0.70}}
{{$90PercentileNodeCount := MultiplyInt $minNodeCount 0.90}}
{{$99PercentileNodeCount := MultiplyInt $minNodeCount 0.99}}
{{$podLabelSelector := DefaultParam .CL2_POD_LABEL_SELECTOR "app = inflate"}}
{{$scaleUpTimeout := DefaultParam .CL2_SCALE_UP_TIMEOUT "30m"}}
{{$scaleDownTimeout := DefaultParam .CL2_SCALE_DOWN_TIMEOUT "10m"}}
{{$refreshInterval := DefaultParam .CL2_REFRESH_INTERVAL "5s"}}
{{$loopCount := DefaultParam .CL2_LOOP_COUNT 1}}
{{$coolDownTime := DefaultParam .CL2_COOLDOWN_TIME "30s"}}

name: autoscale
namespace:
  number: 1
  prefix: autoscale
  deleteStaleNamespaces: true
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: true

tuningSets:
- name: Uniform1qps
  qpsLoad:
    qps: 1
- name: Parallel
  parallelismLimitedLoad:
    parallelismLimit: 10    

steps:
{{range $i := Loop $loopCount}}
- name: Create deployment {{$i}}
  phases:
  - namespaceRange:
      min: 1
      max: 1
    replicasPerNamespace: 1
    tuningSet: Uniform1qps
    objectBundle:
    - basename: inflate
      objectTemplatePath: {{$deploymentTemplatePath}}
      templateFillMap:
        Replicas: {{$deploymentSize}}
        CPUperJob: {{$deploymentCpu}}
        NodeSelector: {{ (StructuralData $nodeSelector) }}
- name: Measure nodes and pods scale up {{$i}}
  measurements:
  - Identifier: WaitForNodesUpPerc50 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$50PercentileNodeCount}}
      maxDesiredNodeCount: {{$minNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesUpPerc70 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$70PercentileNodeCount}}
      maxDesiredNodeCount: {{$minNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesUpPerc90 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$90PercentileNodeCount}}
      maxDesiredNodeCount: {{$minNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesUpPerc99 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$99PercentileNodeCount}}
      maxDesiredNodeCount: {{$minNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesUpPerc100 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$minNodeCount}}
      maxDesiredNodeCount: {{$maxNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForRunningPodsUp {{$i}}
    Method: WaitForRunningPods
    Params:
      action: start
      desiredPodCount: {{$deploymentSize}}
      labelSelector: {{$podLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}      
- name: WaitBeforeDelete
  measurements:
  - Identifier: WaitBeforeDelete
    Method: Sleep
    Params:
      action: start
      duration: {{$coolDownTime}}
- name: Delete deployment {{$i}}
  phases:
  - namespaceRange:
      min: 1
      max: 1
    replicasPerNamespace: 0
    tuningSet: Uniform1qps
    objectBundle:
    - basename: inflate
      objectTemplatePath: {{$deploymentTemplatePath}}
      templateFillMap:
        Replicas: {{$deploymentSize}}
        CPUperJob: {{$deploymentCpu}}
- name: Measure nodes and pods scale down {{$i}}
  measurements:
  - Identifier: WaitForRunningPodsDown {{$i}}
    Method: WaitForRunningPods
    Params:
      action: start
      desiredPodCount: 0
      labelSelector: {{$podLabelSelector}}
      timeout: {{$scaleDownTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesDownPerc50 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$desiredNodeCount}}
      maxDesiredNodeCount: {{SubtractInt  $minNodeCount $50PercentileNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesDownPerc70 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$desiredNodeCount}}
      maxDesiredNodeCount: {{SubtractInt  $minNodeCount  $70PercentileNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesDownPerc90 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$desiredNodeCount}}
      maxDesiredNodeCount: {{SubtractInt  $minNodeCount $90PercentileNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}
  - Identifier: WaitForNodesDownPerc99 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$desiredNodeCount}}
      maxDesiredNodeCount: {{SubtractInt  $minNodeCount $99PercentileNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleUpTimeout}}
      refreshInterval: {{$refreshInterval}}     
  - Identifier: WaitForNodesDownPerc100 {{$i}}
    Method: WaitForNodes
    Params:
      action: start
      minDesiredNodeCount: {{$desiredNodeCount}}
      maxDesiredNodeCount: {{$desiredNodeCount}}
      labelSelector: {{$nodeLabelSelector}}
      timeout: {{$scaleDownTimeout}}
      refreshInterval: {{$refreshInterval}}
- name: WaitBeforeCreate
  measurements:
  - Identifier: WaitBeforeCreate
    Method: Sleep
    Params:
      action: start
      duration: {{$coolDownTime}}
{{end}}
