{{$CpuRequest := DefaultParam .CpuRequest "5m"}}
{{$MemoryRequest := DefaultParam .MemoryRequest "20M"}}
{{$cnp_test:= .cnp_test}}
{{$ccnp_test:= .ccnp_test}}

{{$Image := DefaultParam .Image "mcr.microsoft.com/oss/kubernetes/pause:3.6"}}

{{$EnableNetworkPolicyEnforcementLatencyTest := DefaultParam .EnableNetworkPolicyEnforcementLatencyTest false}}
{{$TargetLabelValue := DefaultParam .TargetLabelValue "enforcement-latency"}}
# Run a server pod for network policy enforcement latency test only on every Nth pod.
# Default run on every pod.
{{$NetPolServerOnEveryNthPod := 1}}
{{$RunNetPolicyTest := and $EnableNetworkPolicyEnforcementLatencyTest (eq (Mod .Index $NetPolServerOnEveryNthPod) 0)}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  labels:
    group: {{.Group}}
{{if .SvcName}}
    svc: {{.SvcName}}-{{.Index}}
{{end}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
      name: {{if $RunNetPolicyTest}}policy-load-{{end}}{{.Name}}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 20%
      maxSurge: 20%
  template:
    metadata:
      labels:
        name: {{if $RunNetPolicyTest}}policy-load-{{end}}{{.Name}}
        group: {{.Group}}
{{if .SvcName}}
        svc: {{.SvcName}}-{{.Index}}
{{end}}
        restart: {{.deploymentLabel}}
{{if $RunNetPolicyTest}}
        net-pol-test: {{$TargetLabelValue}}
{{end}}
    spec:
      nodeSelector:
        slo: "true"
{{if $RunNetPolicyTest}}
      hostNetwork: false
      containers:
      - image: acnpublic.azurecr.io/scaletest/nginx:latest
        name: nginx-server
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: {{$CpuRequest}}
            memory: {{$MemoryRequest}}
{{else}}
      containers:
      - env:
        - name: ENV_VAR
          value: a
        image: {{$Image}}
        imagePullPolicy: IfNotPresent
        name: {{.Name}}
        ports: []
        resources:
          requests:
            cpu: {{$CpuRequest}}
            memory: {{$MemoryRequest}}
{{end}}
      tolerations:
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 900
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 900
      - key: "slo"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
