name: deployment-churn

{{$nodesPerStep := DefaultParam .CL2_NODES_PER_STEP 100}}
{{$nodesPerNamespace := DefaultParam .CL2_NODES_PER_NAMESPACE 100}}
{{$podsPerNode := DefaultParam .CL2_PODS_PER_NODE 50}}
{{$loadTestThroughput := DefaultParam .CL2_LOAD_TEST_THROUGHPUT 100}}
{{$deploymentSize := DefaultParam .CL2_DEPLOYMENT_SIZE 100}}
{{$repeats := DefaultParam .CL2_REPEATS 1}}
{{$steps := DefaultParam .CL2_STEPS 5}}

{{$nodes := DefaultParam .CL2_NODES 1000}}

{{$latencyPodCpu := DefaultParam .CL2_LATENCY_POD_CPU 10}}
{{$latencyPodMemory := DefaultParam .CL2_LATENCY_POD_MEMORY 50}}
{{$podStartupLatencyThreshold := DefaultParam .CL2_POD_STARTUP_LATENCY_THRESHOLD "60s"}}
{{$namespaces := DivideInt $nodesPerStep $nodesPerNamespace}}
{{$deploymentQPS := DivideFloat $loadTestThroughput $deploymentSize}}
{{$operationTimeout := DefaultParam .CL2_OPERATION_TIMEOUT "15m"}}
{{$groupName := DefaultParam .CL2_GROUP_NAME "deployment-churn"}}

{{$totalNodes := MultiplyInt $nodesPerStep $steps}}
{{$totalPods := MultiplyInt $nodesPerStep $steps $podsPerNode}}
{{$podsPerNamespace := DivideInt $totalPods $namespaces}}
{{$deploymentsPerNamespace := DivideInt $podsPerNamespace (MultiplyInt $deploymentSize $steps)}}

{{$CILIUM_METRICS_ENABLED := DefaultParam .CL2_CILIUM_METRICS_ENABLED false}}

namespace:
  number: 1
  prefix: slo
  deleteStaleNamespaces: true
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: false

tuningSets:
  - name: DeploymentCreatePNIQps
    qpsLoad:
      qps: {{$deploymentQPS}}
  - name: DeploymentCreateQps
    qpsLoad:
      qps: {{$deploymentQPS}}
  - name: DeploymentDeleteQps
    qpsLoad:
      qps: {{$deploymentQPS}}

steps:
  - name: Log - steps={{$steps}}, namespaces={{$namespaces}}, nodesPerNamespace={{$nodesPerNamespace}}, podsPerNode={{$podsPerNode}}, totalPods={{$totalPods}}, podsPerNamespace={{$podsPerNamespace}}, deploymentsPerNamespace={{$deploymentsPerNamespace}}, deploymentSize={{$deploymentSize}}, deploymentQPS={{$deploymentQPS}}
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        action: start
        duration: 1ms

  - name: "Create PNI"
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreatePNIQps
      objectBundle:
      - basename: pod-network-instance-dynamic
        objectTemplatePath: pni_dynamic_template.yaml

  - name: Wait for PNI to be created and nodes to be registered
    measurements:
      - Identifier: Dummy
        Method: Sleep
        Params:
          duration: 60s
  - name: Starting Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: start
        labelSelector: group = {{$groupName}}
        threshold: {{$podStartupLatencyThreshold}}

{{range $i := Loop $repeats}}
  {{range $j := Loop $steps}}
  - name: Starting deployement measurements {{$j}}
    measurements:
      - Identifier: WaitForRunningLatencyDeployments_{{$j}}
        Method: WaitForControlledPodsRunning
        Params:
          action: start
          checkIfPodsAreUpdated: true
          apiVersion: apps/v1
          kind: Deployment
          labelSelector: group = deployment-churn
          operationTimeout: {{$operationTimeout}}
  - name: Creating Deployments {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: 1
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: deployment-churn-{{$j}}
            objectTemplatePath: swiftv2_deployment_template.yaml
            templateFillMap:
              Replicas: {{$nodesPerStep}}
              Group: {{$groupName}}
              CpuRequest: {{$latencyPodCpu}}m
              MemoryRequest: {{$latencyPodMemory}}M
              deploymentLabel: start
              pniName: pod-network-instance-dynamic-0
  - name: Ending deployement measurements {{$j}}
    measurements:
      - Identifier: WaitForRunningLatencyDeployments_{{$j}}
        Method: WaitForControlledPodsRunning
        Params:
          action: gather
          refreshInterval: 15s

  {{end}}

  - name: Starting measurement Pod Curl Command
    measurements:
    - Identifier: PodPeriodicCommand
      Method: PodPeriodicCommand
      Params:
        action: start # start/gather 
        labelSelector: group = {{$groupName}}
        interval: 30s
        container: deployment-churn
        limit: {{$nodes}} # randomly picks up to 3 pods that match labelSelector
        failOnCommandError: true
        failOnExecError: true
        failOnTimeout: true
        commands:
        - name: CustPodCurl
          command: ["/bin/sh", "-c", "curl -c 3 172.25.0.29"] # ["/bin/sh", "-c", "ping -c 3 172.25.0.11"]
          timeout: 5s

  - name: Wait for Pod Curl Command to execute
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        duration: 40s # Longer than the interval to ensure at least one execution

  - name: Ending measurement Pod Curl Command
    measurements:
    - Identifier: PodPeriodicCommand
      Method: PodPeriodicCommand
      Params:
        action: gather # start/gather 
        labelSelector: group = {{$groupName}}

  - name: Starting measurement for Delete Deployment
    measurements:
    - Identifier: WaitForDeletedDeployment
      Method: WaitForControlledPodsRunning
      Params:
        apiVersion: apps/v1
        kind: Deployment
        action: start
        checkIfPodsAreUpdated: true
        labelSelector: group = {{$groupName}}
        operationTimeout: {{$operationTimeout}}
  
  {{range $j := Loop $steps}}


  - name: Deleting Deployments {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: {{$namespaces}}
        replicasPerNamespace: 0
        tuningSet: DeploymentDeleteQps
        objectBundle:
          - basename: deployment-churn-{{$j}}
            objectTemplatePath: deployment_template.yaml

  # - name: Waiting for latency pods to be deleted
  #   measurements:
  #     - Identifier: WaitForRunningLatencyDeployments
  #       Method: WaitForControlledPodsRunning
  #       Params:
  #         action: gather
  #         refreshInterval: 15s
  {{end}}

  - name: Ending measurement for Delete Deployment
    measurements:
    - Identifier: WaitForDeletedDeployment
      Method: WaitForControlledPodsRunning
      Params:
        apiVersion: apps/v1
        kind: Deployment
        action: gather
        refreshInterval: 15s

{{end}}

  - name: Ending Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: gather
        labelSelector: group = {{$groupName}}

