apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: server-
resources:
  - ../../base

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/hostNetwork
        value: true
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          app: server
      - op: add
        path: /spec/template/spec/containers/0/name
        value: iperf3-server
      - op: add
        path: /spec/template/spec/containers/0/args
        value: ["-c", "ldconfig; iperf3 -s -p 20003"]
      - op: add
        path: /spec/template/spec/containers/0/ports
        value: 
        - containerPort: 20003
    target:
      kind: Deployment
      name: iperf3-deployment

labels:
  - includeSelectors: true
    pairs:
      app: iperf3-server
