kind: ConfigMap
apiVersion: v1
metadata:
  name: container-azm-ms-agentconfig
  namespace: kube-system
data:
  schema-version: v1
  config-version: ver1
  log-data-collection-settings: |-
    [log_collection_settings]
       [log_collection_settings.stdout]
          enabled = false
       [log_collection_settings.stderr]
          enabled = false
       [log_collection_settings.env_var]
          enabled = false
       [log_collection_settings.syslog]
          enabled = true
