apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: default
spec:
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 1s
    budgets:
      - nodes: "100%"
  template:
    spec:
      nodeClassRef:
        name: default
      requirements:
        - key: kubernetes.io/os
          operator: In
          values:
            - linux
        - key: karpenter.sh/capacity-type
          operator: In
          values:
            - spot
        - key: karpenter.azure.com/sku-family
          operator: In
          values:
            - D
        - key: karpenter.azure.com/sku-cpu
          operator: In
          values:
            - "5"