## Node Exporter module creates Node Exporter components

# Tuning set
{{$tuningSet := DefaultParam .tuningSet "DeploymentCreateQps"}}
# interval
{{$interval := DefaultParam .interval "15s"}}
{{ $replicasPerNamespace := 1 }}

{{if eq .actionName "create"}}
  {{ $replicasPerNamespace = 1 }}
{{else}}
  {{ $replicasPerNamespace = 0 }}
{{end}} 

steps:
  - name: Start measurements
    measurements:
      - Identifier: WaitForNodeExporterPodsRunning
        Method: WaitForControlledPodsRunning
        Params:
          action: start
          apiVersion: apps/v1
          kind: DaemonSet
          labelSelector: app.kubernetes.io/name = node-exporter
          operationTimeout: 10m
  - name: {{.actionName}} Node Exporter Service Monitor
    phases:
      - namespaceList:
        - "monitoring"
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/servicemonitor.yaml"
            basename: node-exporter
            interval: 15s
  - name: {{.actionName}} Node Exporter Service Account
    phases:
      - namespaceList:
        - "monitoring"
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/serviceaccount.yaml"
            basename: node-exporter
  - name: {{.actionName}} Node Exporter Cluster Role
    phases:
      - namespaceList:
        - ""
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/clusterrole.yaml"
            basename: node-exporter
  - name: {{.actionName}} Node Exporter Cluster Role Binding
    phases:
      - namespaceList:
        - ""
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/clusterrolebinding.yaml"
            basename: node-exporter
  - name: {{.actionName}} Node Exporter Daemonset
    phases:
      - namespaceList:
        - "monitoring"
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/daemonset.yaml"
            basename: node-exporter
  - name: {{.actionName}} Node Exporter Network Policy
    phases:
      - namespaceList:
        - "monitoring"
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/networkpolicy.yaml"
            basename: node-exporter
  - name: {{.actionName}} Node Exporter Services
    phases:
      - namespaceList:
        - "monitoring"
        replicasPerNamespace: {{$replicasPerNamespace}}
        tuningSet: {{$tuningSet}}
        objectBundle:
          - objectTemplatePath: "modules/node-exporter/service.yaml"
            basename: node-exporter
  - name: Wait for pods to be running
    measurements:
      - Identifier: WaitForNodeExporterPodsRunning
        Method: WaitForControlledPodsRunning
        Params:
          action: gather
