## Input params
# Valid actions: "create", "delete"
{{$actionName := printf "%s objects" .actionName}}
{{$namespaces := .namespaces}}
{{$tuningSet := .tuningSet}}

# Derivative variables
{{$is_deleting := (eq .actionName "delete")}}
{{$operationTimeout := .operationTimeout}}

# Deployments
{{$replicasPerDeployment := .replicasPerDeployment}}
{{$deploymentsPerNamespace := .deploymentsPerNamespace}}

steps:
- name: Starting measurement for '{{$actionName}}'
  measurements:
  - Method: WaitForControlledPodsRunning
    Instances:
    - Identifier: WaitForRunningDeployments
      Params:
        apiVersion: apps/v1
        kind: Deployment
    Params:
      action: start
      checkIfPodsAreUpdated: true
      labelSelector: group = {{.Group}}
      operationTimeout: {{$operationTimeout}}
      apiVersion: apps/v1

- name: {{$actionName}}
  phases:
  - namespaceRange:
      min: 1
      max: {{$namespaces}}
    replicasPerNamespace: {{$deploymentsPerNamespace}}
    tuningSet: {{$tuningSet}}
    objectBundle:
    - basename: deployment
      objectTemplatePath: deployment_template.yaml
      templateFillMap:
        Replicas: {{$replicasPerDeployment}}
        SvcName: service
        Group: {{.Group}}
        deploymentLabel: {{.deploymentLabel}}

- name: Waiting for '{{$actionName}}' to be completed
  measurements:
  - Method: WaitForControlledPodsRunning
    Instances:
    - Identifier: WaitForRunningDeployments
    Params:
      action: gather
      refreshInterval: 15s