name: resource-consumer

{{$deploymentSize := DefaultParam .CL2_DEPLOYMENT_SIZE 10}}
{{$memory := DefaultParam .CL2_RESOURCE_CONSUME_MEMORY 100}}
{{$cpu := DefaultParam .CL2_RESOURCE_CONSUME_CPU 100}}
{{$repeats := DefaultParam .CL2_REPEATS 1}}
{{$totalNodes := DefaultParam .CL2_NODE_COUNT 10}}
{{$nodePools := DefaultParam .CL2_NODEPOOL 1}}
{{$agentPoolPrefix := DefaultParam .CL2_AGENTPOOL_PREFIX "userpool"}}
{{$operationTimeout := DefaultParam .CL2_OPERATION_TIMEOUT "5m"}}
{{$podStartupLatencyThreshold := DefaultParam .CL2_POD_STARTUP_LATENCY_THRESHOLD "15s"}}

namespace:
  number: 1
  prefix: resource-consumer
  deleteStaleNamespaces: true
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: false

tuningSets:
- name: Uniform1qps
  qpsLoad:
    qps: 1

steps:
  - name: Start measurements
    measurements:
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: start
          labelSelector: group = resource-consumer
          threshold: {{$podStartupLatencyThreshold}}
      - Identifier: ResourceUsageSummary
        Method: ResourceUsageSummary
        Params:
          action: start
          labelSelector: group = resource-consumer
      - Identifier: WaitForRunningLatencyDeployments
        Method: WaitForControlledPodsRunning
        Params:
          action: start
          checkIfPodsAreUpdated: true
          apiVersion: apps/v1
          kind: Deployment
          labelSelector: group = resource-consumer
          operationTimeout: {{$operationTimeout}}

{{range $i := Loop $nodePools}}
  {{range $j := Loop $repeats}}
  - name: Create deployment {{$j}}
    phases:
    - namespaceRange:
          min: 1
          max: 1
      replicasPerNamespace: 1
      tuningSet: Uniform1qps
      objectBundle:
      - basename: resource-consumer
        objectTemplatePath: deployment_template.yaml
        templateFillMap:
          Replicas: {{$deploymentSize}}
          Group: resource-consumer
          Memory: {{$memory}}K
          CPU: --millicores={{$cpu}}
          AgentPool: {{$agentPoolPrefix}}{{$i}}

  - name: Waiting for latency pods to be running
    measurements:
      - Identifier: WaitForRunningLatencyDeployments
        Method: WaitForControlledPodsRunning
        Params:
          action: gather

  - name: Wait for resource consumption
    measurements:
      - Identifier: Sleep
        Method: Sleep
        Params:
          duration: 1m

  - name: Wait for nodes to be ready
    measurements:
      - Identifier: ConfirmNodeCount
        Method: WaitForNodes
        Params:
          action: start
          minDesiredNodeCount: {{mul $totalNodes 0.8 | int}}
          maxDesiredNodeCount: {{$totalNodes}}
          labelSelector: cri-resource-consume = true
          timeout: {{$operationTimeout}}
          refreshInterval: 1m

  - name: Deleting deployments
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: 0
        tuningSet: Uniform1qps
        objectBundle:
          - basename: resource-consumer
            objectTemplatePath: deployment_template.yaml

  - name: Waiting for latency pods to be deleted
    measurements:
      - Identifier: WaitForRunningLatencyDeployments
        Method: WaitForControlledPodsRunning
        Params:
          action: gather
  {{end}}
{{end}}

  - name: Collect measurements
    measurements:
      - Identifier: ResourceUsageSummary
        Method: ResourceUsageSummary
        Params:
          action: gather
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: gather