{{$action := .action}} # start, gather

steps:
  - name: {{$action}} Containerd Measurements
    measurements:
    - Identifier: ContainerdCriImagePullingThroughput
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: ContainerdCriImagePullingThroughput
        metricVersion: v1
        unit: MB/s
        queries:
        - name: Avg
          query: sum(rate(containerd_cri_image_pulling_throughput_sum{nodepool=~"userpool.*"}[%v])) / sum(rate(containerd_cri_image_pulling_throughput_count{nodepool=~"userpool.*"}[%v]))
        - name: Count
          query: sum(containerd_cri_image_pulling_throughput_count{nodepool=~"userpool.*"})
