docker==7.1.0
kubernetes==31.0.0
pylint==3.3.4
pytest==8.3.5
pytest-cov==6.1.1
numpy==2.2.5
azure-mgmt-containerservice==34.2.0
azure-identity==1.23.0
requests>=2.31.0
pytest-mock>=3.11.1
responses>=0.23.3
boto3==1.35.36
botocore==1.35.36
semver==3.0.4