apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: default
spec:
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 1s
    budgets:
      - nodes: "100%"
  template:
    # metadata:
    #   labels:
        # required for Karpenter to predict overhead from cilium DaemonSet
        #kubernetes.azure.com/ebpf-dataplane: cilium
    spec:
      nodeClassRef:
        name: default
      # startupTaints:
        # https://karpenter.sh/docs/concepts/nodepools/#cilium-startup-taint
        # - key: node.cilium.io/agent-not-ready
        #   effect: NoExecute
        #   value: "true"
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values:
            - amd64
        - key: kubernetes.io/os
          operator: In
          values:
            - linux
        - key: karpenter.sh/capacity-type
          operator: In
          values:
            - on-demand
        - key: karpenter.azure.com/sku-family
          operator: In
          values:
            - D
        - key: karpenter.azure.com/sku-cpu
          operator: In
          values:
            - "4"
