name: deployment-churn

{{$podsPerNode := DefaultParam .CL2_PODS_PER_NODE 1}}
{{$podsPerStep := DefaultParam .CL2_PODS_PER_STEP 7}}
{{$nodes := DefaultParam .CL2_NODES 1000}}
{{$total_pods := DefaultParam .CL2_TOTAL_PODS 7000}}
{{$steps := DefaultParam .CL2_STEPS 1}}
{{$latencyPodCpu := DefaultParam .CL2_LATENCY_POD_CPU 10}}
{{$latencyPodMemory := DefaultParam .CL2_LATENCY_POD_MEMORY 50}}
{{$podStartupLatencyThreshold := DefaultParam .CL2_POD_STARTUP_LATENCY_THRESHOLD "60s"}}
{{$operationTimeout := DefaultParam .CL2_OPERATION_TIMEOUT "180s"}}
{{$groupName := DefaultParam .CL2_GROUP_NAME "deployment-churn"}}
{{$serviceIP := DefaultParam .CL2_SERVICE_IP "172.27.0.30"}}
{{$ingressMaxAttempts := DefaultParam .CL2_INGRESS_MAX_ATTEMPTS 2}}
{{$ingressRetrySeconds := DefaultParam .CL2_INGRESS_RETRY_SECONDS 5}}

namespace:
  number: 1
  prefix: slo
  deleteStaleNamespaces: false
  deleteAutomanagedNamespaces: false
  enableExistingNamespaces: true

tuningSets:
  - name: DeploymentCreatePNIQps
    qpsLoad:
      qps: 1
  - name: DeploymentCreateQps
    qpsLoad:
      qps: 1

steps:
  - name: Log - steps={{$steps}}, nodes={{$nodes}}, pods/step={{$podsPerStep}}, pods/node={{$podsPerNode}}, total pods={{$total_pods}}
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        action: start
        duration: 1ms
  - name: "Create RBAC Resources"
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreatePNIQps
      objectBundle:
      - basename: swiftv2-sa
        objectTemplatePath: serviceaccount_template.yaml
        templateFillMap:
          Namespace: slo-1
      - basename: swiftv2-role
        objectTemplatePath: role_template.yaml
        templateFillMap:
          Namespace: slo-1
      - basename: swiftv2-binding
        objectTemplatePath: rolebinding_template.yaml
        templateFillMap:
          Namespace: slo-1
  - name: "Create Ingress Test Script"
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreatePNIQps
      objectBundle:
      - basename: swiftv2-ingress-script
        objectTemplatePath: swiftv2_ingress_script_configmap.yaml
        templateFillMap:
          Namespace: slo-1
  - name: "Create Single Shared PNI"
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreatePNIQps
      objectBundle:
      - basename: pod-network-instance
        objectTemplatePath: pni_dynamic_template.yaml
  - name: "Wait for Shared PNI to be ready"
    measurements:
      - Identifier: Dummy
        Method: Sleep
        Params:
          duration: 30s
  - name: Starting Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: start
        labelSelector: podgroup={{$groupName}}
        threshold: {{$podStartupLatencyThreshold}}
{{range $j := Loop $steps}}
  - name: Starting Deployment Latency Measurements -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: start
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
  - name: Create Deployments {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: {{$podsPerStep}}
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: deployment-churn-{{$j}}
            objectTemplatePath: swiftv2_deployment_template.yaml
            templateFillMap:
              Replicas: 1
              PodGroup: {{$groupName}}
              Group: {{$groupName}}-{{$j}}
              Step: {{$j}}
              CpuRequest: {{$latencyPodCpu}}m
              MemoryRequest: {{$latencyPodMemory}}M
              deploymentLabel: start
              pniName: pod-network-instance
              Location: {{$.CL2_LOCATION}}
              PodsPerStep: {{$podsPerStep}}
              ServiceIp: {{$serviceIP}}
              IngressMaxAttempts: {{$ingressMaxAttempts}}
              IngressRetrySeconds: {{$ingressRetrySeconds}}
              TargetReadyTimeout: {{DefaultParam $.CL2_TARGET_READY_TIMEOUT "120s"}}
  - name: Wait for all Deployments to be Running -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: gather
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
{{end}}
  - name: Gather Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: gather
        labelSelector: podgroup={{$groupName}}