name: deployment-churn

{{$podsPerNode := DefaultParam .CL2_PODS_PER_NODE 1}}
{{$podsPerStep := DefaultParam .CL2_PODS_PER_STEP 7}}
{{$podsPerPNI := .CL2_PODS_PER_PNI}}
{{$nodes := DefaultParam .CL2_NODES 1000}}
{{$total_pods := DefaultParam .CL2_TOTAL_PODS 7000}}
{{$existingPods := DefaultParam .CL2_EXISTING_PODS 0}}
{{$deltaPods := SubtractInt $total_pods $existingPods}}
{{$actualPodsPerStep := MaxInt $deltaPods 0}}
{{$numPNIs := DivideInt $actualPodsPerStep $podsPerPNI}}
{{$steps := DefaultParam .CL2_STEPS 1}}
{{$latencyPodCpu := DefaultParam .CL2_LATENCY_POD_CPU 10}}
{{$latencyPodMemory := DefaultParam .CL2_LATENCY_POD_MEMORY 50}}
{{$podStartupLatencyThreshold := DefaultParam .CL2_POD_STARTUP_LATENCY_THRESHOLD "60s"}}
{{$operationTimeout := DefaultParam .CL2_OPERATION_TIMEOUT "120s"}}
{{$groupName := DefaultParam .CL2_GROUP_NAME "deployment-churn"}}
{{$devicePluginEnabled := .CL2_DEVICE_PLUGIN}}
{{$probeTargetUrl := .CL2_PROBE_TARGET_URL}}
{{$probeTimeout := .CL2_PROBE_TIMEOUT}}
{{$datapathReporterImage := .CL2_DATAPATH_REPORTER_IMAGE}}
{{$nginxImage := .CL2_NGINX_IMAGE}}
{{$jobIndex := .CL2_JOB_INDEX}}

namespace:
  number: 1
  prefix: slo-job{{$jobIndex}}
  deleteStaleNamespaces: false
  deleteAutomanagedNamespaces: false
  enableExistingNamespaces: false

tuningSets:
  - name: DeploymentCreatePNIQps
    qpsLoad:
      qps: 1
  - name: DeploymentCreateQps
    qpsLoad:
      qps: 1

steps:
  - name: Setup Reporter RBAC
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreateQps
      objectBundle:
      - basename: reporter-sa
        objectTemplatePath: reporter_rbac_template.yaml
      - basename: reporter-role
        objectTemplatePath: reporter_role_template.yaml
      - basename: reporter-binding
        objectTemplatePath: reporter_rolebinding_template.yaml
  - name: Log - job_index={{$jobIndex}}, steps={{$steps}}, nodes={{$nodes}}, pods/node={{$podsPerNode}}, pods/step={{$podsPerStep}}, total_pods={{$total_pods}}, existing_pods={{$existingPods}}, delta_pods={{$deltaPods}}, actual_pods_per_step={{$actualPodsPerStep}}
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        action: start
        duration: 1ms
  - name: Starting Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: start
        labelSelector: podgroup={{$groupName}}
        threshold: {{$podStartupLatencyThreshold}}
  {{range $j := Loop $steps}}
  - name: Create PNIs for step {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: {{$numPNIs}}
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: pod-network-instance-job{{$jobIndex}}-{{$j}}
            objectTemplatePath: pni_static_template.yaml
            templateFillMap:
              ReservationSize: {{$podsPerPNI}}
  - name: Deploy PNI Readiness Checker -{{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: 1
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: pni-checker-{{$j}}
            objectTemplatePath: pni_readiness_checker_unified_template.yaml
            templateFillMap:
              PNIPrefix: pod-network-instance-job{{$jobIndex}}-{{$j}}-
              NumPNIs: {{$numPNIs}}
  - name: Wait for PNI Readiness Checker to Complete -{{$j}}
    measurements:
      - Identifier: WaitForPNIChecker-{{$j}}
        Method: WaitForRunningPods
        Params:
          desiredPodCount: 1
          labelSelector: app=pni-readiness-checker
          timeout: 11m
  - name: Delete PNI Readiness Checker -{{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: 0
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: pni-checker-{{$j}}
            objectTemplatePath: pni_readiness_checker_unified_template.yaml
            templateFillMap:
              PNIPrefix: pod-network-instance-job{{$jobIndex}}-{{$j}}-
              NumPNIs: {{$numPNIs}}
  - name: Starting Deployment Latency Measurements -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: start
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-job{{$jobIndex}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
  - name: Create Deployments for step {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: {{$actualPodsPerStep}}
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: deployment-churn-job{{$jobIndex}}-{{$j}}
            objectTemplatePath: swiftv2_deployment_single_pod_template.yaml
            templateFillMap:
              Group: {{$groupName}}-job{{$jobIndex}}-{{$j}}
              PodGroup: {{$groupName}}
              CpuRequest: {{$latencyPodCpu}}m
              MemoryRequest: {{$latencyPodMemory}}M
              deploymentLabel: start
              StepIndex: {{$j}}
              PodsPerPNI: {{$podsPerPNI}}
              PNIPrefix: pod-network-instance-job{{$jobIndex}}-{{$j}}
              Location: {{$.CL2_LOCATION}}
              DevicePluginEnabled: {{$devicePluginEnabled}}
              ProbeTarget: {{$probeTargetUrl}}
              ProbeTimeout: {{$probeTimeout}}
              DatapathReporterImage: {{$datapathReporterImage}}
              NginxImage: {{$nginxImage}}
  - name: Wait for all Deployments to be Running -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: gather
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-job{{$jobIndex}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
  {{end}}
  - name: Gather Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: gather
        labelSelector: podgroup={{$groupName}}
  - name: Wait for Datapath Readiness
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        duration: 60s