apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  labels:
    group: {{.Group}}
    kubernetes.azure.com/pod-network: pn100
    kubernetes.azure.com/pod-network-instance: {{.PNIPrefix}}-{{DivideInt .Index .PodsPerPNI}}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{.Name}}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: {{.Name}}
        group: {{.Group}}
        podgroup: {{.PodGroup}}
        podgroup-job: {{.PodGroupJob}}
        kubernetes.azure.com/pod-network: pn100
        kubernetes.azure.com/pod-network-instance: {{.PNIPrefix}}-{{DivideInt .Index .PodsPerPNI}}
        restart: {{.deploymentLabel}}
    spec:
      serviceAccountName: reporter-sa-0
      nodeSelector:
        swiftv2slo: "true"
      initContainers:
      - name: datapath-reporter
        image: {{.DatapathReporterImage}}
        imagePullPolicy: IfNotPresent
        env:
        - name: PROBE_TARGET
          value: "{{.ProbeTarget}}"
        - name: PROBE_TIMEOUT
          value: "{{.ProbeTimeout}}"
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      containers:
      - image: {{.NginxImage}}
        command: ["sleep", "infinity"]
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        name: deployment-churn
        ports:
        {{ if .DevicePluginEnabled }}
        resources:
          requests:
            acn.azure.com/vnet-nic: "1"
          limits:
            acn.azure.com/vnet-nic: "1"
        {{ end }}
      tolerations:
      - key: "slo"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
