apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Name}}
  labels:
    group: {{.Group}}
    kubernetes.azure.com/pod-network: pn100
    kubernetes.azure.com/pod-network-instance: {{.pniName}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
      name: {{.Name}}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: {{.Name}}
        group: {{.Group}}
        podgroup: {{.PodGroup}}
        kubernetes.azure.com/pod-network: pn100
        kubernetes.azure.com/pod-network-instance: {{.pniName}}
        restart: {{.deploymentLabel}}
    spec:
      serviceAccountName: reporter-sa
      nodeSelector:
        swiftv2slo: "true"
      initContainers:
      - name: datapath-reporter
        image: acndev.azurecr.io/datapath-reporter:2026.01.05.01
        env:
        - name: PROBE_TARGET
          value: "{{.ProbeTarget}}"
        - name: PROBE_TIMEOUT
          value: "{{.ProbeTimeout}}"
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      containers:
      # Using shared acndev ACR (region-agnostic) instead of location-specific ACR
      # The acndev ACR has cache rules that automatically pull from Docker Hub
      - image: acndev.azurecr.io/netshoot:latest
        command: ["sleep", "infinity"]
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        name: deployment-churn
        ports:
        {{ if .DevicePluginEnabled }}
        resources:
          requests:
            acn.azure.com/vnet-nic: "1"
          limits:
            acn.azure.com/vnet-nic: "1"
        {{ end }}
      tolerations:
      - key: "slo"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"