name: deployment-churn

{{$podsPerNode := DefaultParam .CL2_PODS_PER_NODE 1}}
{{$podsPerStep := DefaultParam .CL2_PODS_PER_STEP 7}}
{{$nodes := DefaultParam .CL2_NODES 1000}}
{{$total_pods := DefaultParam .CL2_TOTAL_PODS 7000}}
{{$steps := DefaultParam .CL2_STEPS 1}}
{{$latencyPodCpu := DefaultParam .CL2_LATENCY_POD_CPU 10}}
{{$latencyPodMemory := DefaultParam .CL2_LATENCY_POD_MEMORY 50}}
{{$podStartupLatencyThreshold := DefaultParam .CL2_POD_STARTUP_LATENCY_THRESHOLD "60s"}}
{{$operationTimeout := DefaultParam .CL2_OPERATION_TIMEOUT "120s"}}
{{$groupName := DefaultParam .CL2_GROUP_NAME "deployment-churn"}}
{{$devicePluginEnabled := DefaultParam .CL2_DEVICE_PLUGIN false}}
{{$probeTargetUrl := DefaultParam .CL2_PROBE_TARGET_URL "http://172.27.0.30/"}}
{{$probeTimeout := DefaultParam .CL2_PROBE_TIMEOUT "300"}}

namespace:
  number: 1
  prefix: slo
  deleteStaleNamespaces: false
  deleteAutomanagedNamespaces: false
  enableExistingNamespaces: false

tuningSets:
  - name: DeploymentCreatePNIQps
    qpsLoad:
      qps: 1
  - name: DeploymentCreateQps
    qpsLoad:
      qps: 1

steps:
  - name: Setup Reporter RBAC
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 0
      tuningSet: DeploymentCreateQps
      objectBundle:
      - basename: reporter-rbac
        objectTemplatePath: reporter_rbac_template.yaml
  - name: Log - steps={{$steps}}, nodes={{$nodes}}, pods/step={{$podsPerStep}}, pods/node={{$podsPerNode}}, total pods={{$total_pods}}
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        action: start
        duration: 1ms
  - name: "Create PNI"
    phases:
    - namespaceRange:
        min: 1
        max: 1
      replicasPerNamespace: 1
      tuningSet: DeploymentCreatePNIQps
      objectBundle:
      - basename: pod-network-instance
        objectTemplatePath: pni_dynamic_template.yaml
  - name: Wait for PNI to be created and nodes to be registered
    measurements:
      - Identifier: WaitForPNIReady
        Method: WaitForGenericK8sObjects
        Params:
          objectGroup: multitenancy.acn.azure.com
          objectVersion: v1alpha1
          objectResource: podnetworkinstances
          namespace: slo-1
          fieldSelector: metadata.name=pod-network-instance-0
          successfulConditions:
            - status.status=Ready
          minDesiredObjectCount: 1
          maxFailedObjectCount: 0
          timeout: 5m
  - name: Starting Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: start
        labelSelector: podgroup={{$groupName}}
        threshold: {{$podStartupLatencyThreshold}}
  {{range $j := Loop $steps}}
  - name: Starting Deployment Latency Measurements -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: start
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
  - name: Create Deployments {{$j}}
    phases:
      - namespaceRange:
          min: 1
          max: 1
        replicasPerNamespace: 1
        tuningSet: DeploymentCreateQps
        objectBundle:
          - basename: deployment-churn-{{$j}}
            objectTemplatePath: swiftv2_deployment_template.yaml
            templateFillMap:
              Replicas: {{$podsPerStep}}
              PodGroup: {{$groupName}}
              Group: {{$groupName}}-{{$j}}
              CpuRequest: {{$latencyPodCpu}}m
              MemoryRequest: {{$latencyPodMemory}}M
              deploymentLabel: start
              pniName: pod-network-instance-0
              Location: {{$.CL2_LOCATION}}
              DevicePluginEnabled: {{$devicePluginEnabled}}
              ProbeTarget: {{$probeTargetUrl}}
              ProbeTimeout: {{$probeTimeout}}
  - name: Wait for all Deployments to be Running -{{$j}}
    measurements:
    - Identifier: WaitForControlledPodsRunning-{{$j}}
      Method: WaitForControlledPodsRunning
      Params:
        action: gather
        apiVersion: apps/v1
        kind: Deployment
        labelSelector: group={{$groupName}}-{{$j}}
        operationTimeout: {{$operationTimeout}}
  {{end}}
  - name: Gather Pod Startup Latency Measurements
    measurements:
    - Identifier: PodStartupLatency
      Method: PodStartupLatency
      Params:
        action: gather
        labelSelector: podgroup={{$groupName}}
  - name: Wait for Datapath Readiness
    measurements:
    - Identifier: Dummy
      Method: Sleep
      Params:
        duration: 60s