apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{.Name}}"
  labels:
    group: "{{.Group}}"
    kubernetes.azure.com/pod-network: pn100
    kubernetes.azure.com/pod-network-instance: "{{.pniName}}"
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
      name: "{{.Name}}"
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: "{{.Name}}"
        group: "{{.Group}}"
        podgroup: "{{.PodGroup}}"
        pod-index: "{{.Index}}"
        step: "{{.Step}}"
        kubernetes.azure.com/pod-network: pn100
        kubernetes.azure.com/pod-network-instance: "{{.pniName}}"
        restart: "{{.deploymentLabel}}"
    spec:
      serviceAccountName: swiftv2-sa-0
      nodeSelector:
        swiftv2slo: "true"
      containers:
        - image: sv2perfacr{{.Location}}.azurecr.io/netshoot:latest
          command: 
            - /bin/bash
            - -c
            - |
              /opt/swiftv2/bin/ingress-egress-check.sh &
              sleep infinity
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
          name: deployment-churn
          readinessProbe:
            exec:
              command:
                - test
                - -f
                - /tmp/ingress-test-passed
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3
          env:
            - name: POD_INDEX
              value: "{{.Index}}"
            - name: STEP_NUM
              value: "{{.Step}}"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: TOTAL_PODS_PER_STEP
              value: "{{.PodsPerStep}}"
            - name: INGRESS_SERVICE_IP
              value: "{{.ServiceIp}}"
            - name: INGRESS_MAX_ATTEMPTS
              value: "{{.IngressMaxAttempts}}"
            - name: INGRESS_RETRY_SECONDS
              value: "{{.IngressRetrySeconds}}"
            - name: TARGET_READY_TIMEOUT
              value: "{{.TargetReadyTimeout}}"
            - name: LOGFILE_PATH
              value: "/var/log/swiftv2/ingress-test.log"
          ports:
          volumeMounts:
            - name: ingress-script
              mountPath: /opt/swiftv2/bin
              readOnly: true
            - name: ingress-logs
              mountPath: /var/log/swiftv2
          resources:
            requests:
              acn.azure.com/vnet-nic: "1"
            limits:
              acn.azure.com/vnet-nic: "1"
      volumes:
        - name: ingress-script
          configMap:
            name: swiftv2-ingress-script-0
            defaultMode: 0555
        - name: ingress-logs
          emptyDir: {}
      tolerations:
        - key: "slo"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
