## CNP module provides a module for creating / deleting CNPs.

## Input params
{{$actionName := .actionName}}
{{$namespaces := .namespaces}}
{{$cnpsPerNamespace := .cnpsPerNamespace}}
{{$Group := .Group}}

steps:
- name: "{{$actionName}} {{$cnpsPerNamespace}} k8s CNPs"
  phases:
  - namespaceRange:
      min: 1
      max: {{$namespaces}}
    replicasPerNamespace: {{$cnpsPerNamespace}}
    tuningSet: Sequence
    objectBundle:
    - basename: cnp
      objectTemplatePath: cnp_template.yaml
      params:
        ns: "{{.namespaceRange.basename}}-{{.i}}"
