name: job-scheduling

{{$jobs := DefaultParam .CL2_JOBS 1000}}
{{$namespaces := DefaultParam .CL2_NAMESPACES 10}}
{{$qps := DefaultParam .CL2_LOAD_TEST_THROUGHPUT 100}}
{{$replicas_per_namespace := DivideInt $jobs $namespaces}}

namespace:
  number: {{$namespaces}}
  prefix: test

tuningSets:
- name: Uniform{{$qps}}qps
  qpsLoad:
    qps: {{$qps}}

steps:
  - name: Start measurements
    measurements:
      - Identifier: SchedulingThroughput
        Method: SchedulingThroughput
        Params:
          action: start
          labelSelector: group=job-scheduling
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: start
          labelSelector: group=job-scheduling
      - Identifier: JobLifecycleLatency
        Method: JobLifecycleLatency
        Params:
          action: start
          labelSelector: group=job-scheduling
          timeout: 3h
      - Identifier: WaitForFinishedJobs
        Method: WaitForFinishedJobs
        Params:
          action: start
          labelSelector: group=job-scheduling
          timeout: 3h

  - name: Create jobs
    phases:
    - namespaceRange:
          min: 1
          max: {{$namespaces}}
      replicasPerNamespace: {{$replicas_per_namespace}}
      tuningSet: Uniform{{$qps}}qps
      objectBundle:
      - basename: test
        objectTemplatePath: job_template.yaml
        templateFillMap:
          Group: job-scheduling
       
  - name: Waiting for jobs to be finished
    measurements:
    - Identifier: WaitForFinishedJobs
      Method: WaitForFinishedJobs
      Params:
        action: gather
        timeout: 3h
  - name: Collect measurements
    measurements:
      - Identifier: SchedulingThroughput
        Method: SchedulingThroughput
        Params:
          action: gather
          timeout: 3h
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: gather
          timeout: 3h
      - Identifier: JobLifecycleLatency
        Method: JobLifecycleLatency
        Params:
          action: gather
          timeout: 3h
