name: job-scheduling

{{$job_count := DefaultParam .CL2_JOBS 20000}}
{{$qps := DefaultParam .CL2_LOAD_TEST_THROUGHPUT 800}}

namespace:
  number: 1
  prefix: job-scheduling
  deleteStaleNamespaces: true
  deleteAutomanagedNamespaces: true
  enableExistingNamespaces: false

tuningSets:
- name: Uniform{{$qps}}qps
  qpsLoad:
    qps: {{$qps}}

steps:
  - name: Start measurements
    measurements:
      - Identifier: SchedulingThroughputPrometheus
        Method: SchedulingThroughputPrometheus
        Params:
          action: start
          timeout: 3h
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: start
          labelSelector: group=job-scheduling
          threshold: 30s
      - Identifier: JobLifecycleLatency
        Method: JobLifecycleLatency
        Params:
          action: start
          labelSelector: group=job-scheduling
          timeout: 3h
      - Identifier: WaitForFinishedJobs
        Method: WaitForFinishedJobs
        Params:
          action: start
          labelSelector: group=job-scheduling
          timeout: 3h

{{range $i := Loop $job_count}}
  - name: Create job {{$i}}
    phases:
    - namespaceRange:
          min: 1
          max: 1
      replicasPerNamespace: 1
      tuningSet: Uniform{{$qps}}qps
      objectBundle:
      - basename: test-job-{{$i}}
        objectTemplatePath: job_template.yaml
        templateFillMap:
          Group: job-scheduling
{{end}}
       
  - name: Waiting for jobs to be finished
    measurements:
    - Identifier: WaitForFinishedJobs
      Method: WaitForFinishedJobs
      Params:
        action: gather
        timeout: 3h
  - name: Collect measurements
    measurements:
      - Identifier: SchedulingThroughputPrometheus
        Method: SchedulingThroughputPrometheus
        Params:
          action: gather
          timeout: 3h
      - Identifier: PodStartupLatency
        Method: PodStartupLatency
        Params:
          action: gather
      - Identifier: JobLifecycleLatency
        Method: JobLifecycleLatency
        Params:
          action: gather
          timeout: 3h
