{{$action := .action}} # start, gather

{{$suffix := DefaultParam .suffix ""}}

steps:
  - name: {{$action}} Additional AMA-Logs Measurements
    measurements:
    - Identifier: AMALogsAvgCPUUsage{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Average CPU Usage {{$suffix}}
        metricVersion: v1
        unit: cpu
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
    - Identifier: AMALogsMaxCPUUsage{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Max CPU Usage {{$suffix}}
        metricVersion: v1
        unit: cpu
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, max_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc90
          query: quantile(0.90, max_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc50
          query: quantile(0.50, max_over_time(rate(container_cpu_usage_seconds_total{container="ama-logs"}[1m])[%v:]))
    - Identifier: AMALogsAvgMemUsage{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Avg Memory Usage {{$suffix}}
        metricVersion: v1
        unit: MB
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
        - name: Perc90
          query: quantile(0.90, avg_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
        - name: Perc50
          query: quantile(0.5, avg_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
    - Identifier: AMALogsMaxMemUsage{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Max Memory Usage {{$suffix}}
        metricVersion: v1
        unit: MB
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, max_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
        - name: Perc90
          query: quantile(0.90, max_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
        - name: Perc50
          query: quantile(0.5, max_over_time(container_memory_usage_bytes{container="ama-logs"}[%v:]) / 1024 / 1024)
    - Identifier: AMALogsContainerFsAvgWrittenBytes{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Container FS Average Written Bytes {{$suffix}}
        metricVersion: v1
        unit: bytes/s
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
    - Identifier: AMALogsContainerFsMaxWrittenBytes{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Container FS Max Written Bytes {{$suffix}}
        metricVersion: v1
        unit: bytes/s
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, max_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc90
          query: quantile(0.90, max_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
        - name: Perc50
          query: quantile(0.50, max_over_time(rate(container_fs_writes_bytes_total{container="ama-logs"}[1m])[%v:]))
    - Identifier: AMALogsContainerFsAvgWriteLatency{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Container FS Average Write Latency {{$suffix}}
        metricVersion: v1
        unit: s
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
    - Identifier: AMALogsContainerFsMaxWriteLatency{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Container FS Max Write Latency {{$suffix}}
        metricVersion: v1
        unit: s
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, max_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
        - name: Perc90
          query: quantile(0.90, max_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
        - name: Perc50
          query: quantile(0.50, max_over_time((rate(container_fs_write_seconds_total{container="ama-logs"}[1m]) / rate(container_fs_writes_total{container="ama-logs"}[1m]))[%v:]))
    - Identifier: AMALogsContainerRestarts{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Container Restarts {{$suffix}}
        metricVersion: v1
        unit: "#"
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, max_over_time(increase(kube_pod_container_status_restarts_total{container="ama-logs"}[%v])[%v:]))
        - name: Perc90
          query: quantile(0.90, max_over_time(increase(kube_pod_container_status_restarts_total{container="ama-logs"}[%v])[%v:]))
        - name: Perc50
          query: quantile(0.50, max_over_time(increase(kube_pod_container_status_restarts_total{container="ama-logs"}[%v])[%v:]))

    - Identifier: AMALogsNetworkFlowInputAvgRecordsPerSecond{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Network Flow Input Avg Records Per Second {{$suffix}}
        metricVersion: v1
        unit: "#/s"
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(rate(fluentbit_input_records_total{name=~"oms_networkflow_input"}[5m])[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time(rate(fluentbit_input_records_total{name=~"oms_networkflow_input"}[5m])[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time(rate(fluentbit_input_records_total{name=~"oms_networkflow_input"}[5m])[%v:]))

    - Identifier: AMALogsNetworkFlowOutputAvgRecordsPerSecond{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Network Flow Output Avg Records Per Second {{$suffix}}
        metricVersion: v1
        unit: "#/s"
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(rate(fluentbit_output_proc_records_total{name=~"oms_network_flow_output"}[5m])[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time(rate(fluentbit_output_proc_records_total{name=~"oms_network_flow_output"}[5m])[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time(rate(fluentbit_output_proc_records_total{name=~"oms_network_flow_output"}[5m])[%v:]))

    - Identifier: AMALogsNetworkFlowDroppedAvgRecordsPerSecond{{$suffix}}
      Method: GenericPrometheusQuery
      Params:
        action: {{$action}}
        metricName: AMALogs Network Flow Dropped Avg Records Per Second {{$suffix}}
        metricVersion: v1
        unit: "#/s"
        enableViolations: true
        queries:
        - name: Perc99
          query: quantile(0.99, avg_over_time(rate(fluentbit_filter_drop_records_total{name=~"oms_networkflow_throttle"}[5m])[%v:]))
        - name: Perc90
          query: quantile(0.90, avg_over_time(rate(fluentbit_filter_drop_records_total{name=~"oms_networkflow_throttle"}[5m])[%v:]))
        - name: Perc50
          query: quantile(0.50, avg_over_time(rate(fluentbit_filter_drop_records_total{name=~"oms_networkflow_throttle"}[5m])[%v:]))

