name: Python Validation

on:
  pull_request:
    paths:
      - 'modules/python/**'

env:
  PYTHON_MODULES_DIR: modules/python
jobs:
  python-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Python Version Check
        run: python --version

      - name: Install Python Dependencies
        working-directory: ${{ env.PYTHON_MODULES_DIR }}
        run: pip install -r requirements.txt

      - name: Fetch all branches
        run: git fetch --prune --unshallow

      - name: Run Pylint on changed files
        id: changed-files
        run: |
          # Get list of changed files
          file_changes=$(git diff --name-only origin/main HEAD -- '*.py')
          echo "Files changed: $file_changes"
          if [ -z "$file_changes" ]; then
            echo "No Python files were changed."
          else
            pylint $file_changes
          fi
      - name: Set up kwokctl
        uses: kubernetes-sigs/kwok@main
        with:
          command: kwokctl
      - run: kwokctl create cluster --name kwok-test
        env:
          KWOK_KUBE_VERSION: v1.28.0
      - name: Run Python Unit Tests
        working-directory: ${{ env.PYTHON_MODULES_DIR }}
        run: coverage run -m unittest discover
      - name: Generate Coverage Report
        working-directory: ${{ env.PYTHON_MODULES_DIR }}
        run: coverage report -m
      - name: Delete KWOK cluster
        if: always()
        run: kwokctl delete cluster --name kwok-test
