name: Terraform Configuration Checks

on:
  pull_request:

env:
  TERRAFORM_AZURE_MODULES_DIR: modules/terraform/azure
  TERRAFORM_AWS_MODULES_DIR: modules/terraform/aws
jobs:
  Terraform-Configuration-checks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6
    
    - name: Terraform Format Check
      run: terraform fmt --check -recursive
    
    - name: Terraform Azure Validation Check
      working-directory: ${{ env.TERRAFORM_AZURE_MODULES_DIR }}
      run: |
        terraform init
        terraform validate
    - name: Terraform AWS Validation Check
      working-directory: ${{ env.TERRAFORM_AWS_MODULES_DIR }}
      run: |
        terraform init
        terraform validate
